langchain
langchain-google-genai
chromadb
pypdf
python-dotenv
# python-magic-bin == 0.4.14  # For Windows file type detection
langchain-community

google-generativeai
langchain-text-splitters

streamlit
pysqlite3-binary